a {
  color: #303233;
  text-decoration: none;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s; }
  a:hover {
    color: #fcca03; }

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif; }

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  outline: none;
  max-width: 100%; }

h1 {
  color: #303233;
  font-size: 54px;
  font-weight: bold; }

h2 {
  color: #303233;
  font-size: 34px;
  font-weight: bold; }

h3 {
  color: #303233;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px; }

h4 {
  color: #303233;
  font-size: 24px;
  font-weight: bold; }

h5 {
  color: #303233;
  font-size: 20px;
  font-weight: bold; }

h6 {
  color: #303233;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px; }

p {
  font-size: 14px;
  color: #7a7a7a;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.object-cover {
  width: 100%;
  object-fit: cover;
  height: 100%; }

.hero-banner_caption {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: absolute; }

.hero-banner-text {
  position: relative; }

.main-header .navbar-toggler-icon {
  background: url("../images/toggle-icon.png");
  background-repeat: no-repeat; }

.main-header .navbar-toggler {
  padding: 0; }

.main-header .navbar-collapse {
  height: auto !important; }

.main-header .navbar-nav {
  background-color: #303233;
  max-width: 300px;
  margin-right: 0;
  margin-left: auto;
  padding: 20px;
  position: absolute;
  right: 25px;
  left: 0;
  z-index: 9;
  box-shadow: 0px 6px 10px -1px #81734e; }
  .main-header .navbar-nav .nav-item {
    margin-bottom: 5px; }
    .main-header .navbar-nav .nav-item .nav-link {
      color: #fcca03;
      font-weight: 600;
      text-transform: uppercase;
      padding-top: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #fcca03; }
      .main-header .navbar-nav .nav-item .nav-link:hover {
        color: #ffffff;
        border-color: #ffffff; }

.hero-banner_caption-heading {
  color: #7a7a7a;
  font-size: 18px;
  font-family: "Kaushan Script"; }

.social-icon {
  list-style: none;
  padding-left: 10px; }
  .social-icon li {
    margin: 0 12px; }
    .social-icon li a {
      color: #bcbcbc; }
      .social-icon li a:hover {
        color: #303233; }

.custom-navigation .pagination .page-item .page-link {
  border-radius: 0;
  color: #303233;
  padding: 13px 22px; }
  .custom-navigation .pagination .page-item .page-link:hover {
    background-color: #fcca03;
    border-color: #fcca03; }
  .custom-navigation .pagination .page-item .page-link span {
    display: none;
    font-weight: 600; }

.custom-navigation .pagination .page-item.active .page-link {
  background-color: #fcca03;
  border-color: #fcca03; }
  .custom-navigation .pagination .page-item.active .page-link span {
    display: inline-block;
    margin: 0 5px; }

.product-grid {
  display: inline-block;
  padding: 10px 0; }

.line-divider:after {
  content: "";
  width: 36px;
  height: 1px;
  background-color: #fcca03;
  display: block;
  margin-top: 15px; }

.bottom-footer {
  background-color: #303233; }
  .bottom-footer .line-divider:after {
    margin-top: 10px; }

.copyright {
  background-color: #232424; }

.copyright-text {
  color: #646565;
  font-family: "Lato", sans-serif;
  font-size: 12px; }

.address-block {
  list-style: none;
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 0; }
  .address-block li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    font-size: 14px; }
    .address-block li .fa {
      position: absolute;
      left: 0;
      top: 4px; }
    .address-block li a {
      color: #ffffff; }
      .address-block li a:hover {
        color: #fcca03;
        text-decoration: none; }

.footer-about-us p {
  margin-bottom: 25px; }

.news-content {
  padding-left: 20px; }
  .news-content h6 {
    font-size: 14px; }

.our-gallery {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }
  .our-gallery li {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 77px; }

@media (max-width: 767px) {
  h1 {
    font-size: 40px; }
  .banner-image {
    height: 200px; }
  .main-header .navbar-nav {
    max-width: 100%;
    right: 15px;
    left: 15px; } }

@media (max-width: 576px) {
  .post-image img {
    width: 100%; }
  h1 {
    font-size: 30px; } }

@media (max-width: 400px) {
  .custom-navigation .pagination .page-item .page-link {
    padding: 10px;
    font-size: 12px; } }
